[submodule "CKGL/lib/SDL2-CS"]
	path = CKGL/lib/SDL2-CS
	url = https://github.com/flibitijibibo/SDL2-CS
[submodule "CKGL/lib/OpenAL-CS"]
	path = CKGL/lib/OpenAL-CS
	url = https://github.com/flibitijibibo/OpenAL-CS
[submodule "CKGL/lib/SDL_GameControllerDB"]
	path = CKGL/lib/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB
