<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<dllmap dll="SDL2" os="windows" target="SDL2.dll"/>
	<dllmap dll="SDL2" os="osx" target="osx/libSDL2-2.0.0.dylib"/>
	<dllmap dll="SDL2" os="linux,freebsd,netbsd" cpu="x86" target="lib/libSDL2-2.0.so.0"/>
	<dllmap dll="SDL2" os="linux,freebsd,netbsd" cpu="x86-64" target="lib64/libSDL2-2.0.so.0"/>
	<dllmap dll="SDL2" os="openbsd" cpu="x86" target="lib/libSDL2.so.0"/>
	<dllmap dll="SDL2" os="openbsd" cpu="x86-64" target="lib64/libSDL2.so.0"/>

	<dllmap dll="SDL2_image" os="windows" target="SDL2_image.dll"/>
	<dllmap dll="SDL2_image" os="osx" target="osx/libSDL2_image-2.0.0.dylib"/>
	<dllmap dll="SDL2_image" os="linux,freebsd,netbsd" cpu="x86" target="lib/libSDL2_image-2.0.so.0"/>
	<dllmap dll="SDL2_image" os="linux,freebsd,netbsd" cpu="x86-64" target="lib64/libSDL2_image-2.0.so.0"/>
	<dllmap dll="SDL2_image" os="openbsd" cpu="x86" target="lib/libSDL2_image.so.0"/>
	<dllmap dll="SDL2_image" os="openbsd" cpu="x86-64" target="lib64/libSDL2_image.so.0"/>

	<dllmap dll="soft_oal.dll" os="windows" target="soft_oal.dll"/>
	<dllmap dll="soft_oal.dll" os="osx" target="osx/libopenal.1.dylib"/>
	<dllmap dll="soft_oal.dll" os="linux,freebsd,openbsd,netbsd" cpu="x86" target="lib/libopenal.so.1"/>
	<dllmap dll="soft_oal.dll" os="linux,freebsd,openbsd,netbsd" cpu="x86-64" target="lib64/libopenal.so.1"/>

	<dllmap dll="SDL2"			os="osx" cpu="armv8" target="__Internal"/>
	<dllmap dll="SDL2_image" 	os="osx" cpu="armv8" target="__Internal"/>

	<!-- Workaround for https://github.com/xamarin/xamarin-macios/issues/5112 -->
	<dllmap dll="i:msvcrt"		os="osx" cpu="armv8" target="libc.dylib"/>
</configuration>