<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="17.9.0" targetFramework="net472" />
  <package id="Bridge.Core" version="17.9.0" targetFramework="net472" />
  <package id="Bridge.Html5" version="17.9.0" targetFramework="net472" />
  <package id="Bridge.Min" version="17.9.0" targetFramework="net472" />
  <package id="Retyped.Core" version="1.6.6733" targetFramework="net472" />
  <package id="Retyped.dom" version="2.8.6733" targetFramework="net472" />
  <package id="Retyped.es5" version="2.8.6733" targetFramework="net472" />
  <package id="Retyped.webgl2" version="0.1.6733" targetFramework="net472" />
</packages>